{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "5"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "presets": [
        "jsdoc-to-assert",
        "power-assert"
      ]
    }
  }
}
